# Compute performance metrics for the given Y and Y_score without sklearn

In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook
# other than these two you should not import any other packages

In [2]:
# write your code here
df = pd.read_csv("5_a.csv")
df.head(10)

     y     proba
0  1.0  0.637387
1  1.0  0.635165
2  1.0  0.766586
3  1.0  0.724564
4  1.0  0.889199
5  1.0  0.601600
6  1.0  0.666323
7  1.0  0.567012
8  1.0  0.650230
9  1.0  0.829346

In [3]:
def partition(c,x):
    if x < c:
        return 0
    return 1
pre = df['proba']
f = lambda lst: partition(0.5,lst)
p = pre.map(f)
df['proba'] = p
df.head(10)

     y  proba
0  1.0      1
1  1.0      1
2  1.0      1
3  1.0      1
4  1.0      1
5  1.0      1
6  1.0      1
7  1.0      1
8  1.0      1
9  1.0      1

In [4]:
s = df['y'].value_counts()#Actual Labels
print("Occurence of P, ",s[1])
print("Occurence of N, ",s[0])

Occurence of P,  10000
Occurence of N,  100

In [5]:
b = df['proba'].value_counts()#Predicted Labels
print(b)

1    10100
Name: proba, dtype: int64

In [6]:
def para(df):
    p=0
    n=0
    fp=0
    fn=0
    for i in range(df.shape[0]):
        if df['y'][i]==df['proba'][i]:
            if df['y'][i]==1:
                p += 1
            else:
                n += 1
        else:
            if df['y'][i]==1:
                fn += 1
            else:
                fp += 1
    return(p,n,fp,fn)

def pre_re_f1(p,n,fp,fn):
    pre = p/(p+fp)
    re = p/(p+fn)
    f1 = 2*(pre*re)/(pre+re)
    return(pre,re,f1)

def confu(p,n,fp,fn,pre,re,f1):
    l = [[p,n],[fp,fn]]
    print("Confusion matrix : ",'\n',l[0],'\n',l[1])
    print("\nPrecision",pre,'\n')
    print("\nRecal",re,'\n')
    print("\nF1-Score",f1,'\n')

In [7]:
p,n,fp,fn=para(df)
pre,re,f1 = pre_re_f1(p,n,fp,fn)
confu(p,n,fp,fn,pre,re,f1)

Confusion matrix :
 [10000, 0]
 [100, 0]

Precision 0.9900990099009901


Recal 1.0


F1-Score 0.9950248756218906

In [8]:
a = np.isclose(np.array(df['y']),np.array(df['proba']))
c = 0
for el in a:
    if el == True:
        c+=1
ac = c/len(a)
print("Accuracy for 5_a is, ",ac)

Accuracy for 5_a is,  0.9900990099009901

In [9]:
df = pd.read_csv("5_a.csv")
df.head(10)

     y     proba
0  1.0  0.637387
1  1.0  0.635165
2  1.0  0.766586
3  1.0  0.724564
4  1.0  0.889199
5  1.0  0.601600
6  1.0  0.666323
7  1.0  0.567012
8  1.0  0.650230
9  1.0  0.829346

In [10]:
df = df.sort_values(by='proba',ascending=False)
print(df.head(10))
uni = list(df.proba.unique())
uni.sort(reverse=True)
for i in range(5):
    print(uni[i])
print(len(uni))
df = pd.read_csv("5_a.csv")

        y     proba
1664  1.0  0.899965
2099  1.0  0.899828
1028  1.0  0.899825
9592  1.0  0.899812
8324  1.0  0.899768
2396  1.0  0.899751
3789  1.0  0.899467
2822  1.0  0.899444
2370  1.0  0.899429
7636  1.0  0.899415
0.8999653487823838
0.899828305041011
0.89982484614942
0.8998118120764471
0.8997678816682531
10100

In [11]:
def auc(d,uni):
    s = d['y'].value_counts()
    P = s[1]
    N = s[0]
    tpr = []
    fpr = []
    for el in tqdm_notebook(uni):
        dx = d.copy()
        pre = dx['proba']
        f = lambda lst: partition(el,lst)
        h = pre.map(f)
        dx['proba'] = h
        p,n,fp,fn=para(dx)
        
        tpr.append(p/P)
        fpr.append(fp/N)
    return np.trapz(tpr,fpr)

In [12]:
auc_score = auc(df,uni)
print(auc_score)

HBox(children=(IntProgress(value=0, max=10100), HTML(value='')))

0.48829900000000004

In [13]:
df = pd.read_csv("5_b.csv")
df.head(10)

     y     proba
0  0.0  0.281035
1  0.0  0.465152
2  0.0  0.352793
3  0.0  0.157818
4  0.0  0.276648
5  0.0  0.190260
6  0.0  0.320328
7  0.0  0.435013
8  0.0  0.284849
9  0.0  0.427919

In [14]:
pre = df['proba']
f = lambda lst: partition(0.5,lst)
p = pre.map(f)
df['proba'] = p
df.head(10)

     y  proba
0  0.0      0
1  0.0      0
2  0.0      0
3  0.0      0
4  0.0      0
5  0.0      0
6  0.0      0
7  0.0      0
8  0.0      0
9  0.0      0

In [15]:
s = df['y'].value_counts()#Actual Labels
print("Occurence of P, ",s[1])
print("Occurence of N, ",s[0])

Occurence of P,  100
Occurence of N,  10000

In [16]:
b = df['proba'].value_counts()#Predicted Labels
print(b)

0    9806
1     294
Name: proba, dtype: int64

In [17]:
p,n,fp,fn=para(df)
pre,re,f1 = pre_re_f1(p,n,fp,fn)
confu(p,n,fp,fn,pre,re,f1)

Confusion matrix :
 [55, 9761]
 [239, 45]

Precision 0.1870748299319728


Recal 0.55


F1-Score 0.2791878172588833

In [18]:
a = np.isclose(np.array(df['y']),np.array(df['proba']))
c = 0
for el in a:
    if el == True:
        c+=1
ac = c/len(a)
print("Accuracy for 5_a is, ",ac)

Accuracy for 5_a is,  0.9718811881188119

In [19]:
df = pd.read_csv("5_b.csv")
df.head(10)

     y     proba
0  0.0  0.281035
1  0.0  0.465152
2  0.0  0.352793
3  0.0  0.157818
4  0.0  0.276648
5  0.0  0.190260
6  0.0  0.320328
7  0.0  0.435013
8  0.0  0.284849
9  0.0  0.427919

In [20]:
df = df.sort_values(by='proba',ascending=False)
print(df.head(10))
uni = list(df.proba.unique())
uni.sort(reverse=True)
for i in range(5):
    print(uni[i])
print(len(uni))
df = pd.read_csv("5_b.csv")

        y     proba
8446  1.0  0.595294
1978  1.0  0.594808
1657  1.0  0.592198
110   1.0  0.590171
8578  1.0  0.588718
2208  1.0  0.585175
7811  1.0  0.583235
7042  1.0  0.582210
2183  1.0  0.582020
7863  1.0  0.581772
0.5952941839776669
0.5948084022757003
0.5921978708413235
0.5901714464524004
0.5887181867417832
10100

In [21]:
auc_score = auc(df,uni)
print(auc_score)

HBox(children=(IntProgress(value=0, max=10100), HTML(value='')))

0.9377570000000001

In [22]:
df = pd.read_csv("5_c.csv")
df.head(10)

   y      prob
0  0  0.458521
1  0  0.505037
2  0  0.418652
3  0  0.412057
4  0  0.375579
5  0  0.595387
6  0  0.370288
7  0  0.299273
8  0  0.297000
9  0  0.266479

In [23]:
s = df['y'].value_counts()#Actual Labels
print("Occurence of P, ",s[1])
print("Occurence of N, ",s[0])

Occurence of P,  1047
Occurence of N,  1805

In [25]:
b = df['prob'].value_counts()#Predicted Labels
print(b)

0.839377    4
0.672003    3
0.596618    3
0.704297    2
0.123316    2
           ..
0.315248    1
0.355742    1
0.214257    1
0.190617    1
0.332771    1
Name: prob, Length: 2791, dtype: int64

In [26]:
def para(df):
    p=0
    n=0
    fp=0
    fn=0
    for i in range(df.shape[0]):
        if df['y'][i]==df['prob'][i]:
            if df['y'][i]==1:
                p += 1
            else:
                n += 1
        else:
            if df['y'][i]==1:
                fn += 1
            else:
                fp += 1
    return(p,n,fp,fn)

def metric(d,uni):
    s = d['y'].value_counts()
    a = []
    for el in tqdm_notebook(uni):
        dx = d.copy()
        pre = dx['prob']
        f = lambda lst: partition(el,lst)
        h = pre.map(f)
        dx['prob'] = h
        
        p,n,fp,fn=para(dx)
        a.append(500*fp+100*fn)
    
    return uni[a.index(min(a))],min(a)

In [28]:
df = df.sort_values(by='prob',ascending=False)
print(df.head(10))
uni = list(df.prob.unique())
uni.sort(reverse=True)
for i in range(5):
    print(uni[i])
print(len(uni))
df = pd.read_csv("5_c.csv")

      y      prob
2634  1  0.957747
2548  1  0.951437
2447  1  0.948638
2788  1  0.944094
2456  1  0.941113
2469  1  0.921611
2599  1  0.918113
2515  1  0.916364
2294  1  0.913375
2702  1  0.913280
0.9577467989277196
0.9514369163158778
0.9486377939984604
0.9440936134070964
0.9411131844327256
2791

In [29]:
low,b = metric(df,uni)
print("Threshold and the value of the min metric are as follows resp.")
print(low,b)

HBox(children=(IntProgress(value=0, max=2791), HTML(value='')))

Threshold and the value of the min metric are as follows resp.
0.6569201444854608 88300

In [33]:
df = pd.read_csv("5_d.csv")
df.head(10)

       y   pred
0  101.0  100.0
1  120.0  100.0
2  131.0  113.0
3  164.0  125.0
4  154.0  152.0
5  133.0  153.0
6  148.0  139.0
7  172.0  145.0
8  153.0  162.0
9  162.0  154.0

In [36]:
print(df['y'][0],df['pred'][0],df.shape[0])

101.0 100.0 157200

In [39]:
def mse(df):
    n = df.shape[0]
    mse=0
    for i in tqdm_notebook(range(n),desc='Computing MSE'):
        mse += (df['y'][i] - df['pred'][i])**2
    mse = mse/n
    return mse

def r2(df):
    sr = 0
    st = 0
    r2 = 0
    m = np.mean(df['y'])
    for i in tqdm_notebook(range(df.shape[0]),desc='Computing R2 - Error'):
        sr += (df['y'][i] - df['pred'][i])**2
        st += (df['y'][i] - m)**2
    r2 = 1-(sr/st)
    return r2

def mape(df):
    e = 0
    ym = 0
    for i in tqdm_notebook(range(df.shape[0]),desc='Computing modified - MAPE'):
        e += abs(df['y'][i] - df['pred'][i])
        ym += df['y'][i]
    r2 = e/ym
    return r2

In [40]:
print('Mean Squared Error is :')
print(mse(df),'\n')
print('R2 - Error is :')
print(r2(df),'\n')
print('Modified Mean Absolute Percentage Error is :')
print(mape(df))

Mean Squared Error is :

HBox(children=(IntProgress(value=0, description='Computing MSE', max=157200, style=ProgressStyle(description_w…

177.16569974554707

R2 - Error is :

HBox(children=(IntProgress(value=0, description='Computing R2 - Error', max=157200, style=ProgressStyle(descri…

0.9563582786990964

Modified Mean Absolute Percentage Error is :

HBox(children=(IntProgress(value=0, description='Computing modified - MAPE', max=157200, style=ProgressStyle(d…

0.1291202994009687